<% unless @current_user.businesses.empty? %>
<h1>These are your spots, cool cat.</h1>
<% else%>
<h1>Search for some cool spots to review to add here, stray cat!</h1>
<%end  %>

<div class="cards">
<% @businesses.each do |business| %>
<div class= "card">
<img src= <%= business.img_url %>>
<br/>
<%= link_to business.name, business %>
</div>
<% end%>
</div>

<% unless @current_user.rsvps.empty? || @current_user.rsvps.nil?%>
<h2>These are the parties you're going to, you wild cat!</h2>
<% @current_user.rsvps.each do |rsvp|%>
    <%= link_to rsvp.party_time.occasion, rsvp.party_time.business %> 
    Going down on <%= rsvp.party_time.date %> at <%= rsvp.party_time.time %>
    <% if rsvp.party_time.creator_id == @current_user.id %>
    <%= link_to "Edit party", edit_party_time_path(rsvp.party_time) %> 
    <%= link_to "Delete party", rsvp.party_time, method: :delete %> 
    <% else %>
    <%= link_to "Too Cool For This Party", rsvp, method: :delete %> 
    <% end%>
       <br>
          <br>
<%end %>
<% end%>
